<form asp-action="Index">
    <label for="">Input Full Name</label>
    <input type="text" name="FullName">
    <input type="submit" value="Sent">
    <br>
    <Label>LowerToUpper</Label>
    <h2>@ViewBag.lowtoup</h2>
    <Label>UpperToLower</Label>
    <h2>@ViewBag.uptolow</h2>
</form>

