<form asp-action="Index">
    <label for="">Nhap he so A</label>
    <input type="text" name="hesoA" id="">
    <br>
    <label for="">Nhap he so B</label>
    <input type="text" name="hesoB" id="">
    <br>
    <label for="">Nhap he so C</label>
    <input type="text" name="hesoC" id="">
    <input type="submit" name="Tinh" id="">
    <br>
    <label for="">Ket qua:</label>
    <label for="">@ViewBag.mess</label>
</form>